#{extends 'base.html'/}

#{set 'subTitle'}Documentation#{/set}

<h3>Welcome to the play framework documentation</h3> 

<p>This documentation is intended for the <strong>1.1 release</strong> 
and may significantly differs from previous versions of the framework. </p>

<p>Check the <a href="releasenotes-1.1">version 1.1 release notes</a>.</p>

<h4 id="anamestartedGettingstarteda"><a name="started">Getting started</a></h4>

<p>Your first steps with Play and your first 5 minutes of fun.</p>

<ol>
    <li><a href="overview">Play framework overview</a></li>
    <li><a href="http://vimeo.com/7087610">Watch the screencast</a></li>
    <li><a href="5things">Five cool things you can do with Play</a></li>
    <li><a href="usability">Usability - details matter as much as features</a></li>
    <li><a href="faq">Frequently Asked Questions</a></li>
    <li><span class="next"><a href="install">Installation guide</a></span></li>
    <li><a href="ide">Setting-up your preferred IDE</a></li>
    <li><a href="firstapp">Your first application — the ‘Hello World’ tutorial</a></li>
    <li><a href="samples">Sample applications</a></li>
    <li><a href="http://www.lunatech-research.fr/archives/2010/06/14/how-demo-play-framework-live-coding-script">Live coding script - to practice, and impress your colleagues with</a></li>
</ol>

... 