<!DOCTYPE html>

<html>
    <head>
        <title>&{'main.title'} - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/screen.css">
        <link rel="stylesheet" type="text/css" media="print" href="/css/print.css">
        <link rel="stylesheet" type="text/css" media="screen, projection" href="#{if style==2}/menu/public/stylesheets/_menu.css#{/if}#{else}/css/menu.css#{/else}">
        <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/app.css">
		<!--[if lt IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="/css/ie.css"><![endif]-->
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <script src="/js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        #{if style!=2}
        <script src="/js/jquery.bgiframe.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.positionBy.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.dimensions.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.jdMenu.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
        $(function(){
            $('.menu-bar > ._menu_list').addClass('jd_menu');
            $('.menu-bar > ._menu_list').jdMenu();
        })
        </script>
        #{/if}
        #{get 'moreScripts' /}
    </head>
    <body>
<div id="wrap">
	<div id="main" class="container">
		<div class="span-24 last header">
			<h1>Play Menu Plugin Demo - Menu Class: ${menuClass}</h1>
			<hr/>
		</div>
		
		<div class="#{if style==2}span-5 navigation-panel#{/if} #{else}span-24 menu-bar#{/else}">
			#{menu.menu menu_label: 'play'/}
		</div>
		
		<div class="#{if style==2}span-18#{/if} #{else}span-24#{/else} main">
	        #{if flash.success}
	            <div class="success">
	                ${flash.success}
	            </div>
	        #{/if}
	        #{if flash.error || error}
	            <div class="error">
	                ${error ?: flash.error}
	            </div>
	        #{/if}
			#{doLayout /}
		</div>
	</div>
</div>

    </body>
</html>
