<!DOCTYPE html> 
<html>
    <head>
        <title>GreenScript Configurator</title>
    </head>
    <body>
        <h1>GreenScript Configuration</h1>
        #{form action: @update(), enctype:'multipart/form-data', id: "form-greenscript-configurator"}
        <textarea name='configuration' rows='30' cols='110'  style='float:left;clear:both'>#{list items:rows, as: 'row'}
${row}#{/list}</textarea>
        <input type='submit' value='Update'  style='float:left;clear:both'></input>
        #{/form}
    </body>
</html>