%{
    def renderArgs = play.mvc.Scope.RenderArgs.current()
    
    def _menu_top_list = renderArgs._menu_top_list
    _menu_current = _menu_current?:renderArgs._menu_current
    _menu_context = _menu_context?:renderArgs._menu_context
    _menu_label = _menu_label?:renderArgs._menu_label
    _menu_no_global = _menu_no_global?:renderArgs._menu_no_global
    if (!_menu_top_list) _menu_top_list = play.modules.menu.MenuPlugin.menuInstance().getTopLevelMenus();
}%

#{menu.menu_ menu_top_list:_menu_top_list, menu_current: _menu_current, menu_context: _menu_context, menu_label: _menu_label, show_label: _show_label, menu_no_global: _menu_no_global, menu_debug: _menu_debug/}

#{if _menu_debug}
current: ${_menu_current} <br/>
context: ${_menu_context} <br/>
label: ${_menu_label} <br/>
no_global: ${_menu_no_global}
#{/if}
