.menu-bar {
    margin-bottom: 10em;
}

ul._menu_list, 
ul._menu_list_vertical {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul._menu_list ul,
ul._menu_list_vertical ul {
    display: none;
}
ul._menu_list li {
    float: left;
}
ul._menu_list_vertical {
    width: 300px;
}
ul._menu_list_vertical li {
    float: none;
}

/* -- Sub-Menus -- */
ul._menu_list ul,
ul._menu_list_vertical ul {
    position: absolute;
    display: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 10000;
}
ul._menu_list ul li,
ul._menu_list_vertical ul li {
    float: none;
    margin: 0px;
}


ul._menu_list,
ul._menu_list ul,
ul._menu_list_vertical,
ul._menu_list_vertical ul {
    background-color: #369;
    border: 1px solid #036;
    border-top: 1px solid #69C;
    border-left: 1px solid #69C;
    
    height: 20px;
}
ul._menu_list_vertical {
    height: auto;
}
ul._menu_list ul {
    height: auto;
}
* html ul._menu_list ul {
    width: 1%;
}
ul._menu_list li {
    font-family: sans-serif;
    font-size: 12px;
    color: #FFF;
    
    line-height: 14px;
    
    margin: 0px;
    padding: 4px 7px 3px 7px;
    height: 13px;
    
    cursor: pointer;
    white-space: nowrap;
}
ul._menu_list li li {
    width: 200px;
}
ul._menu_list li a {
    color: #FFF;
    text-decoration: none;
}

ul._menu_list li.jdm_hover,
ul._menu_list li.jdm_active {
    background-color: #69C;
    color: #FFF;
    
    padding: 3px 6px 2px 6px;
    border: 1px solid #369;
    border-left: 1px solid #9CF;
    border-top: 1px solid #9CF;
    
}
